nav {
    height: 80px !important;
}
.sidenav-trigger{
    padding: 8px 40px 8px !important;
    color: #f3989b !important;

    
}
.brand-logo{
    padding: 8px 40px 8px !important;
    font-weight: bolder;
    font-size: 30px !important;
    /* border: 5px;
    border-style: solid;
    border-color: #e57373 !important; */
    color: #e57373 !important;
}
.bar{
    font-weight: bolder;
    padding: 8px 40px 8px;
    font-size: 20px !important;
    color: #e57373!important;
}

html, body, .block{
    height: 100%;
}
.text{
    font-weight: bold;
    color: rgba(78, 74, 74, 0.822);
    padding: 3% 20% 5%!important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px;
    
}
.slides{
    width: 200px !important;
    height: 500px !important;
}
.tittle{
    font-weight: bolder;
    /* text-align: center; */
    padding: 8% 30% 3% !important;
    color: #e57373!important;
    /* border-bottom-style: solid;
    border-color: #e57373; */
}
.box{
    padding-top: 10%;
}
.img{
    display: block;
    margin: auto;
    width: 200px;
    height:200px;
    border-radius: 45%;
}

.icon-skill{
    display: inline-block;
    margin: 7% 5% 0%;
}
.size{
    width: 180px;
    height: 150px;
}
.box-ico{
    font-size: 20px;
    font-weight: bold;
    color: rgba(78, 74, 74, 0.822);
    margin: 6% 8% 0%;
    display:inline-block;

}
.box-ic{
    margin: 6% 8% 0%;
    display:inline-block;
}
.carousel{ 
    
    height: 600px !important;
   
    /* padding: 3% 3% 0% !important; */
    


}
 .carousel-item{
    width: 500px !important;
    height: 350px !important;
    /* padding-top: 15% !important; */

}
/* .card-image{
    width: 500px !important;
    height: 300px !important;

} */





@media only screen and (max-width: 900px) {
    .icon-skill{
        width: 82px;
        height: 78px;
    }
    .ic-img{
        width: 60px;
        height: 60px;
    }
    .text{
        
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 16px;
        
    }
    .carousel-item{
        width: 330px !important;
        height: 300px !important;
    
    }
    /* .card-image{
        width: 330px !important;
        height: 200px !important;
    
    } */
    .carousel{ 
        height: 500px !important;
    
    
    }
    
    
}


