nav {
    height: 80px !important;
    background-color: transparent !important;
   
}
.navbar-wrapper{
    background-color: transparent !important;
}

.sidenav-trigger{
    padding: 8px 40px 8px !important;
    color: #f3989b !important;

    
}
.perfil-block{
    padding: 15% 0% 15%;
}
.hover:hover{
    border-bottom: #e57373 solid 5px;
    background-color: transparent;
}
#inicio{
    /* background: url(../img/.jpg); */
    width: 100%;
    background-size: cover;
}
.carousel {
    width: 100% !important;
    padding: 5% 0% 5% !important;
    height: 400px !important;

}
.carousel-item{
padding-top: 5% !important; 
}
.carousel .indicators .indicator-item {
    background-color: #e57373 !important;
}
.btn,.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #e57373 !important;
}
.text-project{
    font-size: 15px;
    color:gray;
    font-weight: bolder;
}
.image{
    width: 50%;
}
.brand-logo{
    padding: 8px 40px 8px !important;
    font-weight: bolder;
    font-size: 30px !important;
    /* border: 5px;
    border-style: solid;
    border-color: #e57373 !important; */
    color: #e57373 !important;
}
.bar{
    font-weight: bolder;
    padding: 8px 40px 6px;
    font-size: 20px !important;
    color: #e57373!important;
}

html, body, .block{
    height: 100%;
}
.text{
    font-weight: bold;
    color: rgba(78, 74, 74, 0.822);
    padding: 3% 0% 5%!important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 15px;
    
}
.slides{
    width: 200px !important;
    height: 500px !important;
}
.tittle-one{
    padding: 10% 30% 3% !important;
    color: #e57373!important;
    font-weight: bolder;
}
.tittle-skills{
    padding: 28% 0% 15% !important;
    color: #e57373 !important;
    font-weight: 700;
}
.tittle{
    font-weight: bolder;
    /* text-align: center; */
    padding: 10% 30% 5% !important;
    color: #e57373!important;
    /* border-bottom-style: solid;
    border-color: #e57373; */
}
.box{
    padding-top: 10%;
}
.img{
    display: block;
    margin: auto;
    width: 200px;
    height:200px;
    border-radius: 45%;
}
#sk p{
    font-weight: bolder;
}

.size{
    width: 180px;
    height: 150px;
}

.moving-letters {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5% 0% 0%;
    margin: auto;
    height: 200px;
}
.ml2 {
    font-weight: 900;
    
 }
.ml2 .letter {
    display: inline-block;
    line-height: 2em;
}
.da{
    font-size: 30px;
    color: gray;
    font-weight: bolder;
    padding: 20%;

}
#contactos div p{
    color: gray;
    font-size: 15px;
    
}
#contactos div a{
    color: gray;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
  
    .text{
        
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 16px;
        
    }
   
    
    
}




